@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello Jenkins</h1>
    <p>This is just a basic site for demo of DevOps using Jenkins and Docker.</p>
</div>
